<% layout('/layout/boilerPlate') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row" style="padding-bottom: 2%">
  <div class="col-6">
    <div class="card">
      <img src="<%=campground01.image.url%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-muted"><%= campground01.title %></h5>
        <p class="card-text"><%= campground01.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground01.location %></li>
        <li class="list-group-item">
          Submitted by <%= campground01.author.username %>
        </li>
        <li class="list-group-item">Price:$ <%= campground01.price %></li>
        <li class="list-group-item">To be added...</li>
      </ul>
      <% if (currentUser && campground01.author.equals(currentUser)){ %>
      <div class="card-body">
        <a
          href="/campgrounds/<%= campground01._id%>/edit"
          class="card-link btn btn-warning"
        >
          Edit
        </a>
        <form
          action="/campgrounds/<%= campground01._id%>?_method=delete"
          method="post"
          class="d-inline"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">
        <a href="/campgrounds"> All campgrounds </a>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div id="map" style="height: 300px"></div>
    <% if (currentUser) { %>
    <div class="mt-1 d-flex flex-column">
      <h2 class="mb-2">Leave a review</h2>
      <form
        action="/campgrounds/<%= campground01._id%>/reviews"
        method="POST"
        class="mt-0 mb-3 needs-validation"
        novalidate
      >
        <div class="mb-3">
          <fieldset class="starability-basic custom-box-sizing">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>

          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="body"
            name="review[body]"
            style="height: 100px"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <% } %> <% for(let review of campground01.reviews) { %>
    <div class="mb-3 card">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </p>
        <p class="card-text">Review: <%= review.body %></p>
        <!-- <% if (currentUser && review.author.equals(currentUser)){ %> -->
        <form
          action="/campgrounds/<%= campground01._id%>/reviews/<%= review._id %>?_method=delete"
          method="post"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <!-- <% } %>  -->
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  const mapToken = '<%-process.env.mapbox_token%>';
  const campground01 = <%- JSON.stringify(campground01) %>
</script>

<script src="/javascripts/showMap.js"></script>
